@model IEnumerable<Blogzaur.Application.BlogEntry.BlogEntryDto>

@{
    ViewData["Title"] = "Blogs";
}

<h1>Blogs</h1>



<p>
    <a class="btn btn-primary margin-medium no-side-margin" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @if (item.isEditable)
                {
                    <a class="btn btn-outline-secondary" asp-controller="BlogEntry" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a class="btn btn-outline-secondary" asp-controller="BlogEntry" asp-action="Details" asp-route-id="@item.Id">Details</a>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
